body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #050f2e;
  color: white;
}

h1 {
  text-align: center;
  margin-top: 30px;
  font-family: "Poppins",sans-serif;
}

.board {
  margin-top: 15%;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  cursor: pointer;
  position: relative;
}

.tile {
  color: currentColor;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-border {
  border-right: 0.1em solid #0074a6;
}

.bottom-border {
  border-bottom: 0.2em solid #0074a6;
}

.x-hover:hover::after {
  color: grey;
  content: "X";
  opacity: 0.4;
}

.o-hover:hover::after {
  color: grey;
  content: "O";
  opacity: 0.4;
}

.strike {
  position: absolute;
  background-color: rgb(204, 221, 16);
}

.strike-row-1 {
  width: 100%;
  height: 4px;
  top: 16%;
}
.strike-row-2 {
  width: 100%;
  height: 4px;
  top: 50%;
}
.strike-row-3 {
  width: 100%;
  height: 4px;
  top: 84%;
}
.strike-column-1 {
  height: 100%;
  width: 4px;
  left: 16%;
}
.strike-column-2 {
  height: 100%;
  width: 4px;
  left: 49%;
}
.strike-column-3 {
  height: 100%;
  width: 4px;
  left: 83%;
}
.strike-diagonal-1 {
  width: 90%;
  height: 4px;
  top: 50%;
  left: 5%;
  transform: skewY(45deg);
}
.strike-diagonal-2 {
  width: 90%;
  height: 4px;
  top: 50%;
  left: 5%;
  transform: skewY(-45deg);
}

.game-over {
  text-align: center;
  border: none;
  outline: none;
  border-radius: 30px;
  background: #98bbca77;
  padding: 12px;
  margin-top: 50px;
  font-size: 1.5em;
  color: aqua;
}

.reset-button {
  margin-top: 50px;
  padding: 20px;
  border: none;
  outline: none;
  border-radius: 20px;
  background-color: #758a925e;
  color: white;
  width: 100%;
  font-size: 1.5em;
}
.box{
  
  background: #555863a4;
  border-radius: 10px;
  margin: 2px;
  color: aqua;
}